//
// _blog.scss
//

.blog {
  &:hover {
    box-shadow: $shadow-lg !important;
    .tag {
      color: $dark !important;
    }
  }
}

//cta
.play-btn {
  color: $white;
}

//
// _feature.scss
//

.features {
  &.core-feature {
    &:hover {
      box-shadow: $shadow-lg !important;
    }
  }
}

//Key Features
.key-feature {
  &:hover {
    box-shadow: $shadow-md !important;
  }
}

//
// _footer.scss
//
footer {
  color: $gray-300;
  .text-foot {
    color: $gray-300;
  }

  .footer-head {
    color: $dark !important;
  }
  .footer-list {
    li {
      a {
        &:hover {
          color: lighten($gray-300, 20%);
        }
      }
    }
  }
  .footer-bar,
  &.footer-bar {
    border-top: 1px solid lighten($footer, 6%);
  }
}

//
// home.scss
//

//Business Landing
.home-slider {
  .carousel-control-next,
  .carousel-control-prev {
    border: 1px solid $gray-400;
  }
}

//
// _pricing.scss
//
.pricing {
  &:hover {
    box-shadow: $shadow-md !important;
  }
}

//
// testi.scss
//
.customer-testi {
  .content {
    &:before {
      border: 8px solid $dark;
      border-color: transparent $white $white transparent;
      box-shadow: 2px 2px 2px -1px rgba($dark, 0.15);
    }
  }
}

.tns-nav {
  button {
    border: 2px solid rgba($white, 0.5);
  }
}

//
// _work.scss
//
.container-filter {
  li {
    a {
      color: $muted !important;
    }
  }
}

//Job / Careers
.job-catagories {
  &:hover {
    box-shadow: $shadow-md !important;
    .title {
      color: $dark !important;
    }
    .sub-title {
      color: rgba($dark, 0.5) !important;
    }
    .icons {
      color: $dark !important;
    }
  }
}

.feature-company {
  transition: all 0.5s ease;
  &:hover {
    box-shadow: $shadow-lg !important;
  }
}
