//
// helper.scss
//
.bg-overlay {
  background-color: $overlay;
}

.bg-overlay-white {
  background: $white;
}

.bg-over-image {
  background-color: rgba(35, 37, 47, 0.5) !important;
}

//Titles
.title-heading {
  img {
    border: 5px solid $gray-300;
  }
}

//Shapes
.shape {
  &.seo-hero {
    background: $white;
  }
}

//Title
.title-dark {
  color: $dark !important;
}
.para-dark {
  color: $muted !important;
}
.title-white {
  color: $white !important;
}
.title-bg-dark {
  background: $dark !important;
}

.bg-white-dark {
  background: $white !important;
}
