//
// menu.scss
//
#topnav {
  .logo {
    color: $dark !important;
    .l-dark,
    .logo-light-mode {
      display: none !important;
    }
    .l-light,
    .logo-dark-mode {
      display: inline-block !important;
    }
  }
  .has-submenu {
    &.active {
      a {
        color: $white;
      }
    }
  }
  .has-submenu {
    .submenu {
      .submenu-arrow {
        border: solid $dark;
        border-radius: 0.5px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        position: absolute;
        right: 20px;
        top: 14px;
      }
    }
  }
  .navbar-toggle {
    span {
      background-color: $dark;
    }
  }

  .navigation-menu {
    > li {
      > a {
        color: $dark;
      }
    }
    .has-submenu {
      .menu-arrow {
        border: solid $dark;
        border-radius: 0.5px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        position: absolute;
        transition: all 0.5s;
        right: -1px;
        top: 32px;
      }
    }
  }

  &.scroll {
    background-color: $white;
    box-shadow: $shadow;
    .navigation-menu {
      > li {
        > a {
          color: $dark;
        }

        > .menu-arrow {
          border-color: $dark;
        }
      }
    }
  }

  &.nav-sticky {
    background: $white;
    box-shadow: $shadow;
    .navigation-menu {
      &.nav-light {
        > li {
          > a {
            color: $dark;
          }
        }
        .has-submenu {
          .menu-arrow {
            border-color: $dark;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #topnav {
    .navigation-menu {
      > .has-submenu {
        > .submenu {
          > .has-submenu {
            > .submenu {
              &::before {
                box-shadow: 1px 1px 0px 0px rgba($dark, 0.15);
                border-color: transparent $white $white transparent;
              }
            }
          }
        }
      }
      > li {
        .submenu {
          background-color: $white;
          box-shadow: $shadow;
          li {
            a {
              color: $dark !important;
            }
          }
        }
        &.last-elements {
          .submenu {
            left: auto;
            right: 0;
            &:before {
              left: auto;
              right: 10px;
            }
            > li.has-submenu .submenu {
              left: auto;
              right: 100%;
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }
      }
      &.nav-light {
        > li {
          > a {
            color: rgba($dark, 0.5);
            &.router-link-active {
              color: $white !important;
            }
          }
          &.active {
            > a {
              color: $dark !important;
            }
          }
          &:hover {
            > .menu-arrow {
              border-color: $dark !important;
            }
            > a {
              color: $dark !important;
            }
          }
        }
        .has-submenu {
          .menu-arrow {
            border-color: rgba($dark, 0.5);
          }
          &.active {
            .menu-arrow {
              border-color: $dark !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #topnav {
    background-color: $white;
    box-shadow: $shadow;
    .navigation-menu {
      > li {
        .submenu {
          li {
            a {
              color: $dark !important;
            }
          }
          &.megamenu {
            > li {
              > ul {
                > li {
                  > span {
                    color: $muted;
                  }
                }
              }
            }
          }
        }
        > a {
          color: $dark;
        }
      }
    }
    .menu-extras .menu-item {
      border-color: $muted;
    }
  }

  #navigation {
    border-top: 1px solid darken($light, 2%);
    border-bottom: 1px solid darken($light, 2%);
    background-color: $white;
  }
}
